* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-outer {
  height: 100vh;
  background: linear-gradient(to right, #bd2413, coral);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-inner {
  background: #faf5f5;
  max-width: 500px;
  height: inherit;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
}
